@charset "UTF-8";

@font-face {
   font-family: HoonJunglebookR;
   src: url(../font/HoonJunglebookR.otf) format('opentype');
   font-style:normal;
   font-weight:normal;
}



.rightSide{
	text-align: center;
	height: expression( this.scrollHeight > 99 ? "100px" : "auto" );
    max-height: 650px;
	overflow-y: auto;
	border: thick;
	border-color: black;
}



.leftSide {
	text-align: center;
}


a:hover{
	text-decoration: none;
}

.countCategory1{
	font-size:25px;
	background-color: #FA5882;
	color:#fff;	
	border-radius: 7px;
	right: 10px;
	border-color:black;
}

.countCategory2{
	font-size:25px;
	background-color: #81DAF5;
	color:#fff;	
	border-radius: 7px;
	border-color:black;
}
	
.countCategory3{
	font-size:25px;
	background-color: #c5f0a2;
	color:#fff;	
	border-radius: 7px;
	border-color:black;
}
.btn {
    /* 필수적으로 입력해 주어야 하는 속성 */
    vertical-align: middle; /* Input 과 타 요소들의 텍스트 높이를 동일하게 세로 정렬한다 */
    display: inline-block; /* a나 span 태그의 경우 inline-block 요소처리 */
    line-height: 1;
    cursor: pointer; /* input type에 따라 커서의 모양이 다르다. */
    
    /* 패딩은 Input과 다른 태그들이 달라야 한다 */
    padding: 8px 12px;
    /* 디자인 요소들 */
    transition: all 0.3s;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    border-radius: 6px;
    font-size: 10px;
    text-transform: uppercase;
    /* 요소마다 border 의 색상을 다르게 주기 위해서 속성들을 따로 기입한다 */
    border-style: solid;
    border-width: 1px;
}
input.btn {
    /* Input은 다른 태그들과 패딩값이 다르게 입력된다. top + 1, bottom -1 을 해준다. */
    padding: 9px 16px 7px;
}
.btn--gray {
    border-color: #e6e6e6;
    background: #8c8c8c;
    color: white;
}
.btn--gray:hover {
    background: #e6e6e6;
}

.login-body{
	background: #808080;
	font-family: HoonJunglebookR;
}
.form-control {
	min-height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: transparent;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
       border-radius: 2px;
   }
.login-form {
	width: 350px;
	margin: 30px auto;
	text-align: center;
}
.login-form h2 {
       margin: 10px 0 25px;
   }
  .login-form form {
color: #7a7a7a;
border-radius: 3px;
  	margin-bottom: 15px;
      background: #fff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  .login-form .btn {        
      	font-size: 16px;
      	font-weight: bold;
		background: #808080;
		border: none;
     	 outline: none !important;
  }
.login-form .btn:hover, .login-form .btn:focus {
	background: black;
}
.login-form a {
	color: #fff;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.login-form form a:hover {
	text-decoration: underline;
}

.image-main, .logo-style{
	padding-top: 30px;
	text-align: center;
	
	color: white;
}
.calendar-body{
	font-family: HoonJunglebookR;
}

 



